---
import {Clock, Tag} from '@lucide/astro';
---
<section class="overflow-hidden mx-auto max-w-5xl relative px-4 md:px-0 py-4 md:py-8">
    <div class="bg-[url('/banner.jpg')] bg-cover bg-top h-[500px] p-8 flex flex-col justify-between">
        <div>
            <div class="flex flex-row items-center space-x-4 mb-2">
                <a class="btn-secondary" href="#">Reviews</a>
                <span class="inline-flex items-center gap-2 text-standard text-sm"> <Clock size={16} />2025-05-15</>
            </div>
            <h1 class="text-standard">Elden Ring: Shadow of the Erdtree Review - A Masterful Expansion</h1>
            <p class="text-standard">FromSoftware expands on their open-world masterpiece with an expansion that exceeds all expectations.</p>
        </div>
        <div class=" flex flex-col md:flex-row md:justify-between md:items-center gap-4 mb-2">
            <div class="flex flex-col md:flex-row md:items-center space-x-4 text-standard">
                <img src="/user.jpg" alt="Imagen del autor" class="mb-2 size-12 rounded-full object-cover" />
                <ul class="flex space-x-8 text-sm">
                    <li class="inline-flex gap-2 items-center"><Tag size={16} /> Elden ring</li>
                    <li class="inline-flex gap-2 items-center"><Tag size={16} /> FromSoftware</li>
                    <li class="inline-flex gap-2 items-center"><Tag size={16} /> RPG</li>
                </ul>
            </div>
            <a class="btn" href="#">Leer más</a>
        </div>
    </div>
</section>