---
import { Gamepad2 } from "lucide-react";
---

<h2 class="flex items-center text-2xl font-extrabold">
  <Gamepad2 className="text-accent mr-2" />
  <span class="bg-gradient-to-r from-accent to-blue-500 bg-clip-text text-transparent">GameBlog</span>
</h2>
