---
import Footer from "@components/Footer/Footer.astro";
import Header from "@components/Header/Header.astro";
import "@styles/global.css";
interface Props {
	title: string;
}
const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>GameBlog - {title}</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/around.css"
		/>
		<meta name="theme-color" content="" />
		<script is:inline src="/toggle-theme.js"></script>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style>
  html,
  body {
	background-color: var(--color-background);
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }
</style>